alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias x="exit"

alias ls='ls -aFhlG'
alias ll='ls -l'
alias mkdir='mkdir -pv'
alias df='df -H'
alias du='du -ch'
alias mount='mount | column -t'

alias f='open -a Finder '
alias sites='cd ~/Sites'
alias docs='cd ~/Documents'
alias dl='cd ~/Downloads'
alias safari="open -a safari"
alias firefox="open -a firefox"
alias chrome="open -a google\ chrome"
alias chromium="open -a chromium"

alias h='history'
alias j='jobs -l'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias sha1='openssl sha1'

alias path='echo -e ${PATH//:/\\n}'
alias now='date +"%T'
alias nowtime=now
alias nowdate='date +"%d-%m-%Y"'

alias aprestart='sudo apachectl restart'
alias apreload='sudo apachectl -k graceful'
alias aptest='sudo apachectl -t && apachectl -t -D DUMP_VHOSTS'
alias mcflush='echo "flush_all" | nc localhost 11211'
alias vflush='varnishadm "ban.url .*"'
alias rmqflush='rabbitmqctl stop_app && rabbitmqctl reset && rabbitmqctl start_app'
alias redisflush='redis-cli flushall'

alias mysqlstart='launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.mysql.plist'
alias mysqlstop='launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.mysql.plist'
alias postgresqlstart='launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist'
alias postgresqlstop='launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist'
alias mongostart='launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.mongodb.plist'
alias mongostop='launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.mongodb.plist'
alias redisstart='launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.redis.plist'
alias redisstop='launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.redis.plist'
alias rabbitmqstart='rabbitmqctl start_app'
alias rabbitmqstop='rabbitmqctl stop_app'

alias mypubip="curl -s checkip.dyndns.org|sed -e 's/.*Current IP Address: //' -e 's/<.*$//'"
alias ping='ping -c 5'
alias wget='wget -c'

alias battery='ioreg -w0 -l | grep Capacity | cut -d " " -f 17-50'
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> SSH public key copied to pasteboard.'"

alias phpinfo="open http://localhost/phpinfo.php"
alias pma="open http://localhost/phpmyadmin"

if [ -L ~/Applications/Sublime\ Text\ 2.app ] || [ -f ~/Applications/Sublime\ Text\ 2.app ]; then
    alias subl="open -a 'Sublime Text 2'"
elif [ -L ~/Applications/Sublime\ Text\ 3.app ] || [ -f ~/Applications/Sublime\ Text\ 3.app ]; then
    alias subl="open -a 'Sublime Text 3'"
fi

reload() {
case $(echo $SHELL) in
  "/bin/zsh")
    source ~/.zshrc
    ;;
  "/bin/bash")
    source ~/.bashrc
    ;;
  *)
    echo "Unknown Shell"
    ;;
esac
}
