alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias x="exit"

alias ls='ls -aFhlG'
alias ll='ls -l'
alias mkdir='mkdir -pv'
alias df='df -H'
alias du='du -ch'
alias mount='mount | column -t'

alias f='open -a Finder '
alias sites='cd ~/Sites'
alias docs='cd ~/Documents'
alias dl='cd ~/Downloads'
alias safari="open -a safari"
alias firefox="open -a firefox"
alias chrome="open -a google\ chrome"
alias chromium="open -a chromium"

alias h='history'
alias j='jobs -l'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias sha1='openssl sha1'

alias path='echo -e ${PATH//:/\\n}'
alias now='date +"%T'
alias nowtime=now
alias nowdate='date +"%d-%m-%Y"'

alias flushmc='echo "flush_all" | nc localhost 11211'
alias flushv='varnishadm "ban.url .*"'
alias flushrmq='rabbitmqctl stop_app && rabbitmqctl reset && rabbitmqctl start_app'
alias flushredis='redis-cli flushall'

alias startapache='sudo apachectl start'
alias stopapache='sudo apachectl stop'
alias restartapache='sudo apachectl restart'
alias reloadapache='sudo apachectl -k graceful'
alias testapache='sudo apachectl -t && apachectl -t -D DUMP_VHOSTS'
alias startmysql='launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.mysql.plist'
alias stopmysql='launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.mysql.plist'
alias startpostgresql='launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist'
alias stoppostgresql='launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist'
alias startmongo='launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.mongodb.plist'
alias stopmongo='launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.mongodb.plist'
alias startredis='launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.redis.plist'
alias stopredis='launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.redis.plist'
alias startrabbitmq='rabbitmqctl start_app'
alias stoprabbitmq='rabbitmqctl stop_app'

alias mypubip="curl -s checkip.dyndns.org|sed -e 's/.*Current IP Address: //' -e 's/<.*$//'"
alias ping='ping -c 5'
alias wget='wget -c'

alias battery='ioreg -w0 -l | grep Capacity | cut -d " " -f 17-50'
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> SSH public key copied to pasteboard.'"

alias phpinfo="open http://localhost/phpinfo.php"
alias pma="open http://localhost/phpmyadmin"

if [ -L ~/Applications/Sublime\ Text\ 2.app ] || [ -f ~/Applications/Sublime\ Text\ 2.app ]; then
    alias subl="open -a 'Sublime Text 2'"
elif [ -L ~/Applications/Sublime\ Text\ 3.app ] || [ -f ~/Applications/Sublime\ Text\ 3.app ]; then
    alias subl="open -a 'Sublime Text 3'"
fi

reload() {
case $(echo $SHELL) in
  "/bin/zsh")
    source ~/.zshrc
    ;;
  "/bin/bash")
    source ~/.bashrc
    ;;
  *)
    echo "Unknown Shell"
    ;;
esac
}
